* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.header {
  font-size: 2rem;
}

.form,
.header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

form input {
  font-size: 1rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.submit-btn {
  background-color: #00356b;
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 0.5rem;
}

.submit-btn:hover {
  background-color: #fff;
  color: #00356b;
  border: 0.1rem solid #00356b;
  transition: 0.2s;
}
.todo-list {
  list-style: none;
}
